body {
	background-color: #E8E8E8;
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: "Trirong", serif;

}

h1, h2 {
  font-size: 3em;
  margin: 0.67em 0; 
  font-family: "Trirong", serif;

}

